/*
 * Name: PageUp API portal
 * Version: 1.0
 * Author: Daniel Wang
*/
/* Theme default */
/* ======= Base ======= */
body,
html {
  height: 100%;
}
.doc-body {
  font-size: 16px;
}
.page-wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px;
}
.page-wrapper:after {
  content: "";
  display: block;
  height: 50px;
}
.footer {
  height: 50px;
}
code {
  background: #222;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  padding: 4px 8px 2px;
  display: inline-block;
}
.btn-cta {
  padding: 7px 15px;
}
#topcontrol {
  background: #257ba0;
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 35px;
  height: 35px;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  z-index: 30;
}
#topcontrol:hover {
  background: #2a8bb5;
}
#topcontrol .fa {
  position: relative;
  top: 3px;
  font-size: 25px;
}
.video-container iframe {
  max-width: 100%;
}
/* ====== Header ====== */
.header {
  background: linear-gradient(120deg, #257ba0 25%, #7e52a0 85%);
  color: rgba(255, 255, 255, 0.85);
  padding: 30px 0;
}
.header a {
  color: #fff;
}
.branding {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.branding .logo {
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 0;
}
.branding .logo a {
  text-decoration: none;
}
.branding .text-highlight {
  color: #257ba0;
}
.body-green .branding .text-highlight {
  color: #339989;
}
.body-blue .branding .text-highlight {
  color: #57c0e9;
}
.body-orange .branding .text-highlight {
  color: #f78764;
}
.body-red .branding .text-highlight {
  color: #ee3d4b;
}
.body-yellow .branding .text-highlight {
  color: #e1a931;
}
.body-purple .branding .text-highlight {
  color: #7e52a0;
}
.branding .text-bold {
  font-weight: 800;
  color: #fff;
}
.branding .icon {
  font-size: 24px;
  color: #257ba0;
}
.body-green .branding .icon {
  color: #339989;
}
.body-blue .branding .icon {
  color: #57c0e9;
}
.body-orange .branding .icon {
  color: #f78764;
}
.body-red .branding .icon {
  color: #ee3d4b;
}
.body-yellow .branding .icon {
  color: #e1a931;
}
.body-purple .branding .icon {
  color: #7e52a0;
}
.breadcrumb {
  background: none;
  margin-bottom: 0;
  padding: 0;
}
.breadcrumb li {
  color: rgba(255, 255, 255, 0.5);
}
.breadcrumb li.active {
  color: rgba(255, 255, 255, 0.5);
}
.breadcrumb li a {
  color: rgba(255, 255, 255, 0.5);
}
.breadcrumb li a:hover {
  color: #fff;
}
.breadcrumb > li + li:before {
  color: rgba(0, 0, 0, 0.4);
}
/* ====== Footer ====== */
.footer {
  background: #142c52;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 0;
}
.footer a {
  color: #257ba0;
}
.footer .fa-heart {
  color: #ee3d4b;
}
/* ======= Doc Styling ======= */
.doc-wrapper {
  padding: 45px 0;
  background: #f9f9fb;
}
.doc-body {
  position: relative;
}
.doc-header {
  margin-bottom: 30px;
}
.doc-header .doc-title {
  color: #257ba0;
  margin-top: 0;
  font-size: 36px;
}
.body-green .doc-header .doc-title {
  color: #339989;
}
.body-blue .doc-header .doc-title {
  color: #57c0e9;
}
.body-orange .doc-header .doc-title {
  color: #f78764;
}
.body-red .doc-header .doc-title {
  color: #ee3d4b;
}
.body-yellow .doc-header .doc-title {
  color: #e1a931;
}
.body-purple .doc-header .doc-title {
  color: #7e52a0;
}
.doc-header .icon {
  font-size: 30px;
}
.doc-header .meta {
  color: #b1b1b4;
}
.doc-content {
  margin-left: 230px;
}
.doc-section {
  padding-top: 15px;
  padding-bottom: 15px;
}
.doc-section .section-title {
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #d7d7d7;
}
.doc-section h1 {
  font-size: 24px;
  font-weight: bold;
}
.doc-section h2 {
  font-size: 22px;
  font-weight: bold;
}
.doc-section h3 {
  font-size: 20px;
  font-weight: bold;
}
.doc-section h4 {
  font-size: 18px;
  font-weight: bold;
}
.doc-section h5 {
  font-size: 16px;
  font-weight: bold;
}
.doc-section h6 {
  font-size: 14px;
  font-weight: bold;
}
.section-block {
  padding-top: 15px;
  padding-bottom: 15px;
}
.section-block .block-title {
  margin-top: 0;
}
.section-block .list > li {
  margin-bottom: 10px;
}
.section-block .list ul > li {
  margin-top: 5px;
}
.question {
  color: #257ba0;
}
.question .label {
  font-size: 11px;
  vertical-align: middle;
}
.answer {
  color: #717175;
}
.code-block {
  margin-top: 30px;
  margin-bottom: 30px;
}
.callout-block {
  padding: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  margin-bottom: 30px;
}
.callout-block a {
  color: rgba(0, 0, 0, 0.55) !important;
}
.callout-block a:hover {
  color: rgba(0, 0, 0, 0.65) !important;
}
.callout-block .icon-holder {
  font-size: 30px;
  position: absolute;
  left: 30px;
  top: 30px;
  color: rgba(0, 0, 0, 0.25);
}
.callout-block .content {
  margin-left: 60px;
}
.callout-block .content p:last-child {
  margin-bottom: 0;
}
.callout-block .callout-title {
  margin-top: 0;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.65);
}
.callout-info {
  background: #57c0e9;
  color: #fff;
}
.callout-success {
  background: #339989;
  color: #fff;
}
.callout-warning {
  background: #f78764;
  color: #fff;
}
.callout-danger {
  background: #ee3d4b;
  color: #fff;
}
.table > thead > tr > th {
  border-bottom-color: #54b0d7;
}
.body-green .table > thead > tr > th {
  border-bottom-color: #66ccbc;
}
.body-blue .table > thead > tr > th {
  border-bottom-color: #b1e2f5;
}
.body-orange .table > thead > tr > th {
  border-bottom-color: #fcd2c5;
}
.body-yellow .table > thead > tr > th {
  border-bottom-color: #eece8a;
}
.body-purple .table > thead > tr > th {
  border-bottom-color: #af91c7;
}
.table-bordered > thead > tr > th {
  border-bottom-color: inherit;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f5f5f5;
}
.screenshot-holder {
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  text-align: center;
}
.screenshot-holder img {
  border: 1px solid #f0f0f0;
}
.screenshot-holder .mask {
  display: block;
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-decoration: none;
}
.screenshot-holder .mask .icon {
  color: #fff;
  font-size: 42px;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  margin-top: -21px;
}
.screenshot-holder:hover .mask {
  visibility: visible;
}
.jumbotron h1 {
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 30px;
}
.author-profile {
  margin-top: 30px;
}
.author-profile img {
  width: 100px;
  height: 100px;
}
.speech-bubble {
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  position: relative;
}
.speech-bubble .speech-title {
  font-size: 16px;
}
.jumbotron .speech-bubble p {
  font-size: 14px;
  font-weight: normal;
  color: #717175;
}
.speech-bubble:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 50%;
  top: -10px;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}
.card {
  text-align: center;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: 30px;
  position: relative;
}
.card .card-block {
  padding: 15px;
}
.card .mask {
  display: block;
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-decoration: none;
}
.card .mask .icon {
  color: #fff;
  font-size: 42px;
  margin-top: 25%;
}
.card:hover .mask {
  visibility: visible;
}
/* Color Schemes */
.body-green .header {
  border-color: #339989;
}
.body-green a {
  color: #339989;
}
.body-green a:hover {
  color: #267367;
}
.body-blue .header {
  border-color: #57c0e9;
}
.body-blue a {
  color: #57c0e9;
}
.body-blue a:hover {
  color: #2aafe3;
}
.body-orange .header {
  border-color: #f78764;
}
.body-orange a {
  color: #f78764;
}
.body-orange a:hover {
  color: #f46134;
}
.body-yellow .header {
  border-color: #e1a931;
}
.body-yellow a {
  color: #e1a931;
}
.body-yellow a:hover {
  color: #c38e1c;
}
.body-purple .header {
  border-color: #7e52a0;
}
.body-purple a {
  color: #7e52a0;
}
.body-purple a:hover {
  color: #63417e;
}
.body-red .header {
  border-color: #ee3d4b;
}
.body-red a {
  color: #ee3d4b;
}
.body-red a:hover {
  color: #e41424;
}
/* Sidebar */
.doc-sidebar {
  width: 200px;
}
.doc-menu {
  list-style: none;
  padding-left: 0;
}
.doc-menu > li {
  margin-bottom: 5px;
}
.doc-menu > li > a {
  display: block;
  padding: 5px 15px;
  border-left: 4px solid transparent;
  color: #717175;
}
.doc-menu > li > a:focus,
.doc-menu > li > a:hover {
  color: #257ba0;
  text-decoration: none;
  background: none;
}
.body-green .doc-menu > li > a:focus,
.body-green .doc-menu > li > a:hover {
  color: #339989;
}
.body-blue .doc-menu > li > a:focus,
.body-blue .doc-menu > li > a:hover {
  color: #57c0e9;
}
.body-orange .doc-menu > li > a:focus,
.body-orange .doc-menu > li > a:hover {
  color: #f78764;
}
.body-red .doc-menu > li > a:focus,
.body-red .doc-menu > li > a:hover {
  color: #ee3d4b;
}
.body-yellow .doc-menu > li > a:focus,
.body-yellow .doc-menu > li > a:hover {
  color: #e1a931;
}
.body-purple .doc-menu > li > a:focus,
.body-purple .doc-menu > li > a:hover {
  color: #7e52a0;
}
.doc-menu > li.active > a {
  background: none;
  border-left: 4px solid #257ba0;
  color: #257ba0;
  font-weight: 600;
}
.body-green .doc-menu > li.active > a {
  color: #339989;
  border-color: #339989;
}
.body-blue .doc-menu > li.active > a {
  color: #57c0e9;
  border-color: #57c0e9;
}
.body-orange .doc-menu > li.active > a {
  color: #f78764;
  border-color: #f78764;
}
.body-red .doc-menu > li.active > a {
  color: #ee3d4b;
  border-color: #ee3d4b;
}
.body-yellow .doc-menu > li.active > a {
  color: #e1a931;
  border-color: #e1a931;
}
.body-purple .doc-menu > li.active > a {
  color: #7e52a0;
  border-color: #7e52a0;
}
.doc-sub-menu {
  list-style: none;
  padding-left: 0;
}
.doc-sub-menu > li {
  margin-bottom: 10px;
  font-size: 14px;
}
.doc-sub-menu > li:first-child {
  padding-top: 5px;
}
.doc-sub-menu > li > a {
  display: block;
  color: #717175;
  padding: 0 0 0 34px;
  background: none;
}
.doc-sub-menu > li > a:hover {
  color: #257ba0;
  text-decoration: none;
  background: none;
}
.body-green .doc-sub-menu > li > a:hover {
  color: #339989;
}
.body-blue .doc-sub-menu > li > a:hover {
  color: #57c0e9;
}
.body-orange .doc-sub-menu > li > a:hover {
  color: #f78764;
}
.body-red .doc-sub-menu > li > a:hover {
  color: #ee3d4b;
}
.body-yellow .doc-sub-menu > li > a:hover {
  color: #e1a931;
}
.body-purple .doc-sub-menu > li > a:hover {
  color: #7e52a0;
}
.doc-sub-menu > li > a:focus {
  background: none;
}
.doc-sub-menu > li.active > a {
  background: none;
  color: #257ba0;
}
.body-green .doc-sub-menu > li.active > a {
  color: #339989;
}
.body-blue .doc-sub-menu > li.active > a {
  color: #57c0e9;
}
.body-orange .doc-sub-menu > li.active > a {
  color: #f78764;
}
.body-red .doc-sub-menu > li.active > a {
  color: #ee3d4b;
}
.body-yellow .doc-sub-menu > li.active > a {
  color: #e1a931;
}
.body-purple .doc-sub-menu > li.active > a {
  color: #7e52a0;
}
.affix-top {
  position: absolute;
  top: 15px;
}
.affix {
  top: 15px;
}
.affix,
.affix-bottom {
  width: 230px;
}
.affix-bottom {
  position: absolute;
}
/* ===== Promo block ===== */
.promo-block {
  background: #206b8b;
}
.body-green .promo-block {
  background: #2d8678;
}
.body-blue .promo-block {
  background: #40b8e6;
}
.body-orange .promo-block {
  background: #f6744c;
}
.body-yellow .promo-block {
  background: #d99e20;
}
.body-purple .promo-block {
  background: #71498f;
}
.promo-block a {
  color: rgba(0, 0, 0, 0.5);
}
.promo-block a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.promo-block .promo-block-inner {
  padding: 45px;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.promo-block .promo-title {
  font-size: 20px;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 45px;
}
.promo-block .promo-title .fa {
  color: rgba(0, 0, 0, 0.5);
}
.promo-block .figure-holder-inner {
  background: #fff;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
}
.promo-block .figure-holder-inner img {
  border: 5px solid #fff;
}
.promo-block .figure-holder-inner .mask {
  display: block;
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.65);
  cursor: pointer;
  text-decoration: none;
}
.promo-block .figure-holder-inner .mask .icon {
  color: #fff;
  font-size: 42px;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  margin-top: -21px;
}
.promo-block .figure-holder-inner .mask .icon.pink {
  color: #e1a931;
}
.promo-block .figure-holder-inner:hover .mask {
  visibility: visible;
}
.promo-block .content-holder-inner {
  padding-left: 15px;
  padding-right: 15px;
}
.promo-block .content-title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 0;
}
.promo-block .highlight {
  color: rgba(0, 0, 0, 0.4);
}
.promo-block .btn-cta {
  background: rgba(0, 0, 0, 0.35);
  border: none;
  color: #fff !important;
  margin-bottom: 15px;
}
.promo-block .btn-cta:hover {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff !important;
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .doc-content {
    margin-left: 0;
  }
  .jumbotron {
    padding: 30px 15px;
  }
  .jumbotron h1 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .jumbotron p {
    font-size: 18px;
  }
  .promo-block .promo-block-inner {
    padding: 30px 15px;
  }
  .promo-block .content-holder-inner {
    padding: 0;
  }
  .promo-block .promo-title {
    margin-bottom: 30px;
  }
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* ======= Login ===========  */
.container {
  position: relative;
}
.login-area {
  position: absolute;
  top: -130px;
  right: 0;
}
.login-area .btn-outline {
  background-color: transparent;
}
.login {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  transform: translate(-50%, -50%);
}
/* ======= Landing Page ======= */
.landing-page .header {
  background-image: linear-gradient(rgba(20, 44, 82, 0.85), rgba(20, 44, 82, 0.85)), url('../images/bg.jpg');
  color: rgba(255, 255, 255, 0.85);
  padding: 160px 0;
  background-size: contain;
  background-attachment: fixed;
  background-position: 0 -100px;
}
.landing-page .header a {
  color: #fff;
}
.landing-page .branding {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.landing-page .branding .logo {
  font-size: 38px;
  margin-top: 0;
  margin-bottom: 0;
}
.landing-page .branding .text-bold {
  font-weight: 800;
  color: #fff;
}
.landing-page .branding .icon {
  font-size: 32px;
  color: #257ba0;
}
.landing-page .tagline {
  font-weight: 700;
  font-size: 18px;
  margin: 45px 0;
}
.landing-page .tagline p {
  margin-bottom: 5px;
}
.landing-page .tagline .text-highlight {
  color: #123b4d;
}
.landing-page .cta-container {
  margin-top: 30px;
}
.cards-section {
  padding: 60px 0;
  background: #f9f9fb;
}
.cards-section .title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
}
.cards-section .intro {
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 60px;
  color: #717175;
}
.cards-section .cards-wrapper {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
}
.cards-section .item {
  margin-bottom: 30px;
}
.cards-section .item .icon-holder {
  margin-bottom: 15px;
}
.cards-section .item .icon {
  font-size: 36px;
}
.cards-section .item .title {
  font-size: 16px;
  font-weight: 600;
}
.cards-section .item .intro {
  margin-bottom: 15px;
}
.cards-section .item-inner {
  padding: 45px 30px;
  background: #fff;
  position: relative;
  border: 1px solid #f0f0f0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.cards-section .item-inner .link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url("../images/empty.gif");
  /* for IE8 */
}
.cards-section .item-inner:hover {
  background: #f5f5f5;
}
.cards-section .item-primary .item-inner {
  border-top: 3px solid #257ba0;
}
.cards-section .item-primary .item-inner:hover .title {
  color: #174b62;
}
.cards-section .item-primary .icon {
  color: #257ba0;
}
.cards-section .item-green .item-inner {
  border-top: 3px solid #339989;
}
.cards-section .item-green .item-inner:hover .title {
  color: #206056;
}
.cards-section .item-green .icon {
  color: #339989;
}
.cards-section .item-blue .item-inner {
  border-top: 3px solid #57c0e9;
}
.cards-section .item-blue .item-inner:hover .title {
  color: #1ca3d7;
}
.cards-section .item-blue .icon {
  color: #57c0e9;
}
.cards-section .item-orange .item-inner {
  border-top: 3px solid #f78764;
}
.cards-section .item-orange .item-inner:hover .title {
  color: #f34f1b;
}
.cards-section .item-orange .icon {
  color: #f78764;
}
.cards-section .item-red .item-inner {
  border-top: 3px solid #ee3d4b;
}
.cards-section .item-red .item-inner:hover .title {
  color: #cd1221;
}
.cards-section .item-red .icon {
  color: #ee3d4b;
}
.cards-section .item-yellow .item-inner {
  border-top: 3px solid #e1a931;
}
.cards-section .item-yellow .item-inner:hover .title {
  color: #ac7e19;
}
.cards-section .item-yellow .icon {
  color: #e1a931;
}
.cards-section .item-purple .item-inner {
  border-top: 3px solid #7e52a0;
}
.cards-section .item-purple .item-inner:hover .title {
  color: #56386d;
}
.cards-section .item-purple .icon {
  color: #7e52a0;
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .cards-section .item-inner {
    padding: 30px 15px;
  }
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
